$black_10: rgba(0, 0, 0, 0.1);
$black_25: rgba(0, 0, 0, 0.25);
$black_35: rgba(0, 0, 0, 0.35);
$black_5: rgba(0, 0, 0, 0.05);
$black_75: rgba(0, 0, 0, 0.75);
$color-alto: #ddd;
$color-atlantis: #8cc63f;
$color-azure_radiance: #0096ff;
$color-cape_cod: #404040;
$color-concrete: #f3f3f3;
$color-desert_storm: #f8f8f8;
$color-dodger_blue: #1da1f2;
$color-gallery: #eee;
$color-log_cabin: #202020;
$color-mine_shaft: #333;
$color-mountain_mist: #909090;
$color-salem: #00853e;
$color-salmon: #fa8072;
$color-silver_chalice: #aaa;
$color-tapa: #757575;
$color-woodsmoke: #101010;
$white_50: rgba(255, 255, 255, 0.5);
$white_75: rgba(255, 255, 255, 0.75);
$white: #fff;
